 {%extends "base.html"%}
 {%block extra_js%}
<script type="text/javascript">
$(document).ready(function() {
    $("#nacional").hide();
    $("#territorial").hide();
    $("#cooperante").hide();
    $("#contraparte").hide();
    $("#menu_nacional").click(function(){$("#territorial").hide("slow"); $("#cooperante").hide("slow");$("#contraparte").hide("slow"); $("#nacional").show("slow")});
    $("#menu_territorial").click(function(){$("#nacional").hide("slow"); $("#cooperante").hide("slow");$("#contraparte").hide("slow"); $("#territorial").show("slow")});
    $("#menu_cooperante").click(function(){$("#territorial").hide("slow"); $("#nacional").hide("slow");$("#contraparte").hide("slow"); $("#cooperante").show("slow")});
    $("#menu_contraparte").click(function(){$("#territorial").hide("slow"); $("#cooperante").hide("slow");$("#nacional").hide("slow"); $("#contraparte").show("slow")});

});
</script>
{%endblock%}
 {%block contenido%}
 <div id="titulo">
                   Ayuda del Sistema
 </div>
                   <div id="contenido_interno">
                              <div class="subtitulo_seccion">Bienvenidos</div>
                              El sistema de mapeo de cooperantes, muestra un listado de proyectos que ejecutan el Grupo de Cooperantes de Agua Potable y Saneamiento en Nicaragua. Actualmente se disponen 4 tipos de búsqueda para llegar a la información de un proyecto específico. Haciendo Clic en los siguientes enlaces se puede ver una guia para cada tipo de búsqueda.
                            <div class="subtitulo_seccion">Menu Ayuda</div>
                            <div id="menu_ayuda">
                            <a id="menu_nacional" href="#">Búsqueda Cobertura Nacional</a> <a id="menu_territorial" href="#">Búsqueda Territorial</a> <a id="menu_cooperante" href="#">Búsqueda por Cooperante</a> <a id="menu_contraparte" href="#">Búsqueda por Contraparte</a>
                                   <div id="nacional">
                                           <br>
                                           <div class="subtitulo_seccion">Paso 1 : Botón de búsqueda nacional</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/coberturanacional.jpg" >
                                                    <p>En el inicio del sistema se encuentra como una de las opciones de búsqueda el boton "Búsqueda Nacional", dando clic en el te enviará a un listado de proyectos que tiene una cobertura en todo el territorio del país.</p>
                                                    <div class="separador"></div>

                                           <div class="subtitulo_seccion">Paso 2 : Selección de proyecto</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/proyectos_nacional.jpeg" >
                                                    <p>Aparecerá un listado de todos los proyectos que tienen la característica de tener una cobertura Nacional. Se puede ver información general del proyecto como: el nombre del proyecto, los cooperantes que participan, la finalidad del proyecto y finalmente su monto total de inversión. Para ver mayor información sobre un proyecto específico solamente se debe dar clic sobre el enlace del nombre del proyecto.</p>
                                                    
                                                    <div class="separador"></div>
                                           <div class="subtitulo_seccion">Paso 3 : Ver ficha de proyecto</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/ficha_proyecto.png" >
                                                    <p>Esta ficha muestra toda los datos de un proyecto, incluyendo su información general y sus datos de inversión de los cooperantes y las contrapartes. </p>
                                                    
                                                    <div class="separador"></div>

                                   </div>
                                   <div id="territorial">
                                           <br>
                                           <div class="subtitulo_seccion">Paso 1 : Botón de búsqueda territorial</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/boton_territorial.jpg" >
                                                    <p>En el inicio del sistema se encuentra como una de las opciones de búsqueda el boton "Búsqueda Territorial", dando clic en el te enviará a un mapa con todos los departamentos del país.</p>
                                                    <div class="separador"></div>

                                           <div class="subtitulo_seccion">Paso 2 : Selección por departamento</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/mapa_departamento.jpg" >
                                                    <p>Se muestra un mapa departamental, el cual con solo pasar el cursor sobre un departamento nos muestra cuántos proyectos hay ese departamento y cuántos cooperantes apoyan esos proyectos. Por otra parte se muestran 3 cuadros en el panel derecho con la información: total del proyectos en todo el país, cantidad de cooperantes y contrapartes que se encuentran registrados en el sistema, al igual que la inversión monetaria de ambas partes.</p>
                                                    <p>Para ver los proyectos de un municipio específico hay que dar clic en un departamento.</p>
                                                    <div class="separador"></div>
                                           <div class="subtitulo_seccion">Paso 3 : Selección de municipios</div>
                                                    <p>Se muestra un mapa de los muncipios del departamento seleccionado. Dando clic en la señal de cada municipio se podrá ver la cantidad de proyectos que posee ademas de los cooperantes que apoyan esos proyectos. Por otra parte, tambíen se muestra un panel derecho con algunos proyectos que se encuentran en ese departamento. Con un clic en el municipio se podrá ver la lista de proyectos que contiene.</p>
                                                    <img class="imagen_ayuda" src="{{MEDIA_URL}}imagen/ayuda/municipio.jpg" >
                                                    <div class="separador"></div>
                                           <div class="subtitulo_seccion">Paso 4 : Lista de proyectos</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/lista_por_municipio.jpg" >
                                                    <p>Aparecerá un listado de todos los proyectos que tienen cobertura en el municipio seleccionado. Se puede ver información general del proyecto como: el nombre del proyecto, los cooperantes que participan, la finalidad del proyecto y finalmente su monto total de inversión. Para ver mayor información sobre un proyecto específico, solamente se debe dar clic sobre el enlace del nombre del proyecto. </p>
                                                    
                                                    <div class="separador"></div>
                                           <div class="subtitulo_seccion">Paso 5 : Ver ficha de proyecto</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/ficha_proyecto.png" >
                                                    <p>Esta ficha muestra los datos de un proyecto, incluyendo su información general y sus datos de inversión de los cooperantes y las contrapartes. Además se incluyen datos específicos de inversión en cada municipio cubierto por el proyecto, así como sus totales por departamento. </p>
                                                    
                                                    <div class="separador"></div>
                                   </div>
                                   <div id="cooperante">
                                           <br>
                                           <div class="subtitulo_seccion">Paso 1 : Botón de búsqueda por Cooperante</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/boton_cooperante.jpg" >
                                                    <p>En el inicio del sistema se encuentra como una de las opciones de búsqueda el boton "Búsqueda por cooperante", dando clic en él te enviará a una lista de botones con los nombres y logotipos de los cooperantes existentes en el sistema.</p>
                                                    <div class="separador"></div>

                                           <div class="subtitulo_seccion">Paso 2 : Selección del cooperante</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/menu_cooperante.jpg" >
                                                    <p>Se muestran los logotipos de los cooperantes existentes en el sistema, dar el clic en el botón que represente al cooperante del cual se desea obtener información.</p>
                                                    <div class="separador"></div>
                                           <div class="subtitulo_seccion">Paso 3 : Ficha del cooperante</div>
                                                    <p>Esta ficha muestra los datos generales del cooperante como su nombre, logo y una descripción. Ademas cuenta con una lista de todos los proyectos en los cuales el cooperante esta involucrado. Para ver mayor información sobre un proyecto específico, solamente se debe dar clic sobre el enlace del nombre del proyecto. En la parte superior se muestra un menu que nos permite intercambiar entre la ficha del cooperante y el mapa de la ubicación geografica de los proyectos. </p>
                                                    <img class="imagen_ayuda" src="{{MEDIA_URL}}imagen/ayuda/ficha_cooperante.jpg" >
                                                    <div class="separador"></div>
                                           <div class="subtitulo_seccion">Paso 5 : Ver mapa de proyectos</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/mapa_cooperante.jpg" >
                                                    <p>Aparece un mapa señalando los municipios donde el cooperante tiene proyectos. Dando clic en un municipio se obtiene adicionalemente la lista de proyectos que se encuentran en el municipio. </p>
                                                    
                                                    <div class="separador"></div>
                                   </div>
                                   <div id="contraparte">
                                           <br>
                                           <div class="subtitulo_seccion">Paso 1 : Botón de búsqueda por Contraparte</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/botoncontraparte.jpg" >
                                                    <p>En el inicio del sistema se encuentra como una de las opciones de búsqueda el boton "Búsqueda por contraparte", dando clic en el te enviará a una lista de botones con los nombres de las contrapartes existentes en el sistema.</p>
                                                    <div class="separador"></div>
                                           <div class="subtitulo_seccion">Paso 2 : Selección de contraparte</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/menu_contraparte.jpg" >
                                                    <p>Se muestran los nombres de las contrapartes existentes en el sistema, dar clic en el botón que represente a la contraparte de la cual se desea obtener información</p>
                                                    <div class="separador"></div>
                                           <div class="subtitulo_seccion">Paso 3 : Ficha de contraparte</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/ficha_contraparte.jpg" >
                                                    <p>Esta ficha muestra los datos generales de la contraparte como su nombre y una descripción. Ademas cuenta con una lista de todos los proyectos en los cuales la contraparte esta involucrada. Para ver mayor información sobre un proyecto específico, solamente se debe dar clic sobre el enlace del nombre del proyecto. En la parte superior se muestra un menu que nos permite intercambiar entre la ficha de la contraparte y el mapa de la ubicación geografica de los proyectos. </p>
                                                    
                                                    <div class="separador"></div>
                                           <div class="subtitulo_seccion">Paso 5 : Ver mapa de proyectos</div>
                                                    <img class="imagen_ayuda der" src="{{MEDIA_URL}}imagen/ayuda/mapa_cooperante.jpg" >
                                                    <p>Aparece un mapa señalando los municipios en donde la contraparte tiene proyectos. Dando clic en un municipio se obtiene adicionalemente la lista de proyectos que se encuentran en el municipio. </p>
                                                    
                                                    <div class="separador"></div>
                                   </div>
                            </div>
                   </div>
                        <div class="separador" ></div>
                   </div>
 {% endblock %}
