 {%extends "base.html"%}
 {%block contenido%}
 <div id="titulo">
                   Opciones de Búsqueda
 </div>
                   <div id="contenido_interno">

                        <div id="filtros_principales" class="izq">
                            <a href="/proyectos/departamento/99/"><div class="boton_filtro fondo_boton">
                            <img src="{{MEDIA_URL}}imagen/iconomapa.png">
                            <b>Búsqueda Cobertura Nacional</b><br>
                            Encuentra los proyectos de agua que se estan ejecutando a nivel nacional
                             </div>
                             </a>
                            <a href="/mapeo/mapa"><div class="boton_filtro fondo_boton">
                            <img src="{{MEDIA_URL}}imagen/icono_territorial.png">
                            <b>Búsqueda por Territorio</b><br>
                            Encuentra los proyectos de agua que se estan ejecutando en un municipio especifico
                             </div>
                             </a>
                            <a href="/proyectos/donantes/"><div class="boton_filtro fondo_boton">
                            <img src="{{MEDIA_URL}}imagen/cooperante.png">
                            <b>Búsqueda por Cooperante</b><br>
                            Encuentra los proyectos de agua que se estan ejecutando por cada Cooperante
                             </div>
                             </a>
                            <a href="/proyectos/contrapartes/"><div class="boton_filtro fondo_boton">
                            <img src="{{MEDIA_URL}}imagen/contraparte.png">
                            <b>Búsqueda por Contraparte</b><br>
                            Encuentra los proyectos de agua que se estan ejecutando por cada Contraparte
                             </div>
                             </a>
                        </div>
                        <div id="foto_menu" class="der">
                             <div id="foto_index_contenido" class="transparente">
                                <div class="foto_index_elemento">
                                <img src="{{MEDIA_URL}}imagen/gotaindex.png" class="izq"> <b>¿Qué es el sistema?</b> Muestra un listado de proyectos que ejecutan el Grupo de Cooperantes de Agua Potable y Saneamiento en Nicaragua.
<a href="#">Seguir leyendo</a>
                                </div>
                                <br>
                                <div class="foto_index_elemento">
                                <img src="{{MEDIA_URL}}imagen/ayuda_index.png" class="izq"><b>¿Cómo utilizar el sistema?</b> Aquí encontrara una explicación de cómo hacer consulta de los datos de los proyectos.<a href="#">Ir a guia</a>
                                </div>
                             </div>
                        </div>
                        <div class="separador" ></div>
                   </div>
 {% endblock %}
