<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<html lang="es">
<head>
    <title>SISTEMA DE INFORMACION AGUASAN {%block title%}{%endblock%}</title>
    <style type="text/css">
        @import url({{MEDIA_URL}}css/estilo.css);
    </style>

    <link type="text/css" href="{{MEDIA_URL}}css/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.1.custom.min.js"></script>
    {%block extra_js%}{%endblock%}
			
</head>
<body>

                   {%block contenido%}{%endblock%}

</body>
</html>
