{%extends "modal_base.html"%}
{%block extra_js%}
{% if guardado%}
<script type="text/javascript">
        window.parent.cargar_fotos();
        window.parent.$.modal.close();
</script>
{%endif%}
{%endblock%}  
{%block contenido%}
 <div id="titulo">
                   Formulario de entrada de Fotos al Proyecto
 </div>
 {%if form.errors%}
   {{form.errors}}
 </ul>
 {%endif%}	
                   <div id="contenido_interno">
                       <div id="mensaje"></div>
							<form action="/proyecto/{{id}}/fotos/"  id="formulario" name="formulario" method="POST"  enctype="multipart/form-data">
                                {% csrf_token %}
								<div class="titulo_form">Agregar Foto al Proyecto</div>
                                    <div class="campo izq">
									   <div class="label izq">Título</div>
                                       {{form.titulo}}
                                       <div id="campo_foto"></div>
									</div>
									<div class="campo izq">
									   <div class="label izq">Foto</div>
                                       {{form.foto}}
                                       <div id="campo_foto"></div>
									</div>
									<br style="clear:both">
									<div class="campo izq">
									   <div class="label izq">Descripcion:</div>
                                       {{form.descripcion}}
                                       <div id="campo_descripcion"></div>
									</div>
									<br style="clear:both">
                                    <input type="submit" value="Agregar Foto"/>
                                    <input type="button" value="Cancelar" onClick="window.parent.$.modal.close();"/>
									<br style="clear:both">
									<br>
							</form>
                   </div>

 {% endblock %}
