{%extends "base.html"%}
{%block extra_js%}
<script type="text/javascript">
function agregar_municipio(form){
        $.post('/ajax/agregar/municipio/{{id_proyecto}}/{{id_dept}}/', {
            municipio: form.municipio.value,
            monto: form.monto.value,
            donantes: form.donantes.value,
            contrapartes: form.contrapartes.value,
        },
        function(data) { 
            if(data!='OK'){
                if (data.municipio[0]){ $("<p>" + data.departamento[0] + "</p>").appendTo('#campo_departamento');}
                if (data.monto[0]){ $("<p>" + data.monto[0] + "</p>").appendTo('#campo_monto');}
                if (data.donantes[0]){ $("<p>" + data.donantes[0] + "</p>").appendTo('#campo_donantes');}
                if (data.contrapartes[0]){ $("<p>" + data.contrapartes[0] + "</p>").appendTo('#campo_contrapartes');}
            }
            else{
                $("<p>Departamento agregado</p>").appendTo("#mensaje");
                form.donante.value = "";
                form.monto.value ="";
                form.donantes.value ="";
                form.contrapartes.value ="";
               }
        });
    }
</script>
{%endblock%}  
{%block contenido%}
 <div id="titulo">
                   Formulario de entrada de datos para donantes
 </div>
                   <div id="contenido_interno">
                       <div id="mensaje"></div>
							<form action="." method="POST" id="formulario" name="formulario">
                                {% csrf_token %}
								<div class="titulo_form">Agregar municipio al proyecto</div>
									<div class="campo izq">
									   <div class="label izq">municipio: </div>
                                       {{form.municipio}}
                                       <div id="campo_municipio"></div>
									</div>
									<br style="clear:both">
									<div class="campo izq">
									   <div class="label izq">Monto:</div>
                                       {{form.monto}}                                     </div>
                                       <div id="campo_monto"></div>
                                    <br style="clear:both">
									<div class="campo izq">
									   <div class="label izq">Contrapartes:</div>
                                       {{form.contrapartes}}
                                       <div id="campo_contrapartes"></div>
									</div>
                                    <br style="clear:both">
									<div class="campo izq">
									   <div class="label izq">Donantes:</div>
                                       {{form.donantes}}
                                       <div id="campo_donantes"></div>
									</div>
									<br style="clear:both">
                                    <input type="button" value="Agregar municipio" onClick="agregar_municipio(this.form)"/>
									<br style="clear:both">
									<br>
							</form>
                   </div>
 {% endblock %}
