{%extends "modal_base.html"%}
{%block extra_js%}
<script type="text/javascript">
    function agregar_donante(form){
        $.post('/ajax/agregar/donante/{{id}}/', {
            donante: form.donante.value,
            monto: form.monto.value,
        },
        function(data) { 
            if(data!='OK'){
                //do error validation
                if (typeof(data.error) != undefined){ $("<p>" + data.error + "</p>").appendTo("#mensaje");}
                if (typeof(data.donante[0]) != undefined){ $("<p>" + data.donante[0] + "</p>").appendTo('#campo_donante');}
                if (typeof(data.monto[0]) != undefined){ $("<p>" + data.monto[0] + "</p>").appendTo('#campo_monto');}
            }
            else{
                $("<p>Donante agregado</p>").appendTo("#mensaje");
                window.parent.$.modal.close();
               }
        });
    }
</script>
{%endblock%}  
{%block contenido%}
 <div id="titulo">
                   Formulario de entrada de datos para donantes
 </div>
 {%if form.errors%}
   {{form.errors}}
 </ul>
 {%endif%}
                   <div id="contenido_interno">
                       <div id="mensaje"></div>
							<form action="." method="POST" id="formulario" name="formulario">
                                {% csrf_token %}
								<div class="titulo_form">Agregar Donantes al proyecto</div>
									<div class="campo izq">
									   <div class="label izq">Donante</div>
                                       {{form.donante}}
									</div>
                                    <div id="campo_donante" ></div>
									<br style="clear:both">
									<div class="campo izq">
									   <div class="label izq">Monto</div>
                                       {{form.monto}}
                                    <div id="campo_monto" ></div>
									</div>
									<br style="clear:both">
                                    <input type="button" value="Agregar donate" onClick="agregar_donante(this.form)"/>
									<br style="clear:both">
									<br>
							</form>
                   </div>
 {% endblock %}
