{%extends "base.html"%}
{%block extra_js%}
<script type="text/javascript">
	$(function() {
		$("#id_fecha_inicial").datepicker({ dateFormat: 'dd/mm/yy', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],changeYear: true});
		$("#id_fecha_final").datepicker({ dateFormat: 'dd/mm/yy', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],changeYear: true});
	});
</script>
{%endblock%}  
{%block contenido%}
 <div id="titulo">
                   Formulario de entrada de datos para donantes
 </div>
 {%if form.errors%}
   {{form.errors}}
 </ul>
 {%endif%}
                   <div id="contenido_interno">
							<form action="." method="POST" id="formulario" name="formulario">
                                {% csrf_token %}
								<div class="titulo_form">Agregar Donantes al proyecto</div>
									<div class="campo izq">
									   <div class="label izq">Donante</div>
									</div>
									<br style="clear:both">
									<div class="campo izq">
									   <div class="label izq">Monto</div><input type="text" name="monto_donante" id="id_monto" class="textbox"/>
									</div>
									<br style="clear:both">
                                    <input type="submit" value="Agregar donate "/>
									<br style="clear:both">
									<br>
							</form>
                   </div>
 {% endblock %}
