{%extends "modal_base.html"%}
{%block extra_js%}
<script type="text/javascript">
function agregar_departamento(form){
        $.post('/ajax/agregar/departamento/{{id}}/', {
            departamento: form.departamento.value,
            monto_total: form.monto_total.value,
        },
        function(data) { 
            if(data!='OK'){
                if (typeof(data.error)!=undefined){ $("<p>" + data.error + "</p>").appendTo("#mensaje");}
                if (typeof(data.departamento[0])!=undefined){ $("<p>" + data.departamento[0] + "</p>").appendTo('#campo_departamento');}
                if (typeof(data.monto_total[0])!=undefined){ $("<p>" + data.monto_total[0] + "</p>").appendTo('#campo_monto');}
            }
            else{
                $("<p>Departamento agregado</p>").appendTo("#mensaje");
                window.parent.$.modal.close();
               }

        });
    }
</script>
{%endblock%}  
{%block contenido%}
 <div id="titulo">
                   Formulario de entrada de datos para donantes
 </div>
                   <div id="contenido_interno">
                       <div id="mensaje"></div>
							<form action="." method="POST" id="formulario" name="formulario">
                                {% csrf_token %}
								<div class="titulo_form">Agregar Departamento al proyecto</div>
									<div class="campo izq">
									   <div class="label izq">Departamento: </div>
                                       {{form.departamento}}
                                       <div id="campo_departamento"></div>
									</div>
									<br style="clear:both">
                                    <input type="button" value="Agregar Departamento" onClick="agregar_departamento(this.form)"/>
									<br style="clear:both">
									<br>
							</form>
                   </div>
 {% endblock %}
