{%extends "modal_base.html"%}
{%block extra_js%}
<script type="text/javascript">
{% if cerrar %}
    window.parent.cargar_lugares();
    window.parent.$.modal.close();
{%endif%}
</script>
{%endblock%}  
{%block contenido%}
                   <div id="contenido_interno">
                       <div id="mensaje"></div>
                       <form action="/proyectos/editar/municipio/{{id}}/"  id="formulario" name="formulario" method="POST">
                                {% csrf_token %}
								<div class="titulo_form">Editar municipio al proyecto</div>
									<div class="campo izq">
									   <div class="label izq">municipio: </div>
                                       {{form.municipio}}
                                       {%if form.municipio.errors%}
                                           {{form.municipio.errors}}
                                       {%endif%}
									</div>
									<br style="clear:both">
									<div class="campo izq">
									   <div class="label izq">Monto:</div>
                                       {{form.monto}}                                    
                                       {%if form.monto.errors%}
                                           {{form.monto.errors}}
                                       {%endif%}
                                   </div>
                                    <br style="clear:both">
									<div class="campo izq">
									   <div class="label izq">Contrapartes:</div><br>
                                       {{form.contrapartes}}
                                       {%if form.contrapartes.errors%}
                                           {{form.contrapartes.errors}}
                                       {%endif%}
									</div>
                                    <br style="clear:both">
									<div class="campo izq">
									   <div class="label izq">Donantes:</div><br>
                                       {{form.donantes}}
                                       {%if form.donantes.errors%}
                                           {{form.donantes.errors}}
                                       {%endif%}
									</div>
									<br style="clear:both">
                                    <input type="submit" value="Agregar municipio" />
									<br style="clear:both">
									<br>
							</form>
                   </div>
 {% endblock %}
