 {%extends "base.html"%}
{%block extra_js%}
<script type="text/javascript">
	$(function() {
		$("#id_fecha_inicio").datepicker({ dateFormat: 'yy-mm-dd', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],changeYear: true});
		$("#id_fecha_final").datepicker({ dateFormat: 'yy-mm-dd', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],changeYear: true});
	});
</script>

<script type="text/javascript">
    function agregar(tipo)
    {
        var tabla = document.getElementById("id_tabla_" + tipo);
        var ultimaFila = tabla.rows.length;
        var iteraccion = ultimaFila+1;
        var fila = tabla.insertRow(ultimaFila);
        fila.id = 'fila-' + (iteraccion - 1);

        //seleccionamos los controles de los formularios
        var controlSelect = document.getElementById("id_" + tipo);
        var montoInput  = document.getElementById("id_monto_" + tipo);

        //celda izquierda - Nombre de donante
        var celdaIzquierda = fila.insertCell(0);
        var input= document.createElement('select');
        input.name = tipo + '_' + iteraccion;
        input.id = 'id_' + tipo + '_' + iteraccion;
        var valorSeleccionado = controlSelect.options[controlSelect.selectedIndex].value;
        var textoSeleccionado = controlSelect.options[controlSelect.selectedIndex].text;
        var opcion = new Option(textoSeleccionado, valorSeleccionado);
        input.options.add(opcion);
        celdaIzquierda.appendChild(input);

        //celda centro - Monto 
        var celdaCentro= fila.insertCell(1);
        var inputMonto= document.createElement('input');
        inputMonto.type = 'text';
        inputMonto.name = 'monto_' + tipo + '_' + iteraccion;
        inputMonto.id = 'id_monto_' + tipo + '_' + iteraccion;
        if (montoInput.value){
            inputMonto.value = montoInput.value;
        }else{
            //TODO: levantar error.
            alert('error, campo vacío');
        }
        inputMonto.readonly = 'readonly';
        celdaCentro.appendChild(inputMonto);

        //celda derecha - Eliminar 
        var celdaDerecha = fila.insertCell(2);
        var linkBorrar = document.createElement('a');
        linkBorrar.href = '#';
        linkBorrar.onclick = function() {eliminarFila(linkBorrar, tipo);};
        linkBorrar.appendChild(document.createTextNode('Eliminar')); 
        celdaDerecha.appendChild(linkBorrar);
    }

    function eliminarFila(elem, tipo)
    {
      var tabla = document.getElementById('id_tabla_' + tipo);
      var fila = elem.parentNode.parentNode.rowIndex;
      tabla.deleteRow(fila);
    }
    
    function agregarTablaMunicipio(control)
    {
	   /*var html_tabla = '<p><label>Donante:</label>' +
			'<select id="id_donante" name="donante">'+
			'<option value="1">Donante</option>'+
			'<option value="2">Donante dos</option>' +
			'<option value="3">Donante tres</option>' +
			'<option value="4">Donante cuatro</option>' +
			'</select></p>' +
			'<p><label>Monto: </label><input type="text" name="monto_donante" id="id_monto_donante"/>' +
			'<input type="button" onClick="agregar(this.form, "donante")" value="agregar" /></p> ' +
			'<table name="tabla_donante" id="id_tabla_donante" border="1">' +
			'<tr>' +
			'<td>Donante</td>' +
			'<td>Monto</td> ' +
			'<td>acción</td>' +
			'</tr>' +
			'</table>';*/
        //validamos si la tabla existe para elminarla.
        var id_departamento = control.value;
        if (!control.checked)
        {        //Se elimina la tabla
            var tabla = document.getElementById('id_tabla_departamento_' + id_departamento);
            tabla.parentNode.removeChild(tabla);
        }else{
                
            var tabla = document.createElement('table');
            tabla.border = 1;
            tabla.id = 'id_tabla_departamento_' + id_departamento;
            tabla.name = 'tabla_departamento_' + id_departamento;
            var ultimaFila = tabla.rows.length;
            var iteraccion = ultimaFila+1;
            var fila = tabla.insertRow(ultimaFila);
            var celda = fila.insertCell(0);
            var texto = document.createTextNode("Municipio");
            celda.appendChild(texto);
            celda = fila.insertCell(1);
            texto = document.createTextNode("Monto");
            celda.appendChild(texto);
            //TODO: Agregar donante.
            celda = fila.insertCell(2);
            texto = document.createTextNode("Acción");
            celda.appendChild(texto);
            $(tabla).prependTo('#tablas_departamentos');
        }
    }
    
        </script>
{%endblock%}  
 {%block contenido%}
 <div id="titulo">
                   Formulario de entrada de datos
 </div>
                   <div id="contenido_interno">
							<form action="." method="POST">
								<div class="titulo_form"> Datos Generales</div>
									<div class="campo_ancho">
									   <div class="label izq">Nombre</div><input type="text" name="nombre" id="id_nombre" class="textbox_nombre"/>
									</div>
									<div class="campo_ancho">
										<div class="label izq">Descripción</div><textarea id="id_descripcion" class="textarea"></textarea>
									</div>
									<div class="campo der">
									   <div class="label izq">Avance</div>
									   	<select id="id_estado" name="estado" class="combobox">
											<option value="1">Detenido</option>  
											<option value="2">En proceso</option>  
											<option value="3">Terminado</option>  
										</select>
									</div>
									<div class="campo">
									   <div class="label izq">Tipo</div>
									   	<select id="id_tipo" name="tipo" class="combobox">
											<option value="1">Fortalecimiento Local</option>  
											<option value="2">Infraestructura APS</option>  
											<option value="3">GIRH No-APS</option>  
										</select>
									</div>
									<div class="campo izq">
									   <div class="label izq">Fecha inicio</div><input type="text" name="fecha_inicio" id="id_fecha_final" class="textbox"/>
									</div>
									<div class="campo der">
									   <div class="label izq">Fecha final</div><input type="text" name="fecha_final" id="id_fecha_inicio" class="textbox"/>
									</div>
									<br style="clear:both">
									<br>
								<div class="titulo_form"> Inversión Internacional</div>
									<p><label>Donante:</label>
									<select id="id_donante" name="donante">
										<option value="1">Donante</option>  
										<option value="2">Donante dos</option>  
										<option value="3">Donante tres</option>  
										<option value="4">Donante cuatro</option>  
									</select></p>
									<p><label>Monto: </label><input type="text" name="monto_donante" id="id_monto_donante"/>
									<input type="button" onClick="agregar(this.form, 'donante')" value="agregar" /></p>
									<table name="tabla_donante" id="id_tabla_donante" border="1">
										<tr>
											<td>Donante</td>
											<td>Monto</td>
											<td>acción</td>
										</tr>
									</table>
								<div class="titulo_form"> Inversión Interna</div>
									<p><label>Contraparte:</label>
									<select id="id_contraparte" name="contraparte">
										<option value="1">contraparte</option>  
										<option value="2">contraparte dos</option>  
										<option value="3">contraparte tres</option>  
										<option value="4">contraparte cuatro</option>  
									</select></p>
									<p><label>Monto: </label><input type="text" name="monto" id="id_monto_contraparte"/>
									<input type="button" onClick="agregar('contraparte')" value="agregar" /></p>
									<table name="tabla_contraparte" id="id_tabla_contraparte" border="1">
										<tr>
											<td>contraparte</td>
											<td>Monto</td>
											<td>acción</td>
										</tr>
									</table>
								<div class="titulo_form">Ubicación</div>
                                <p><label>Departamentos:</label><p>
                                <!--TODO:Agregar help text-->
                                <!--<select multiple='multiple' name='departamentos' id='id_departamentos'>
                                    <option value='1'>Jinotega</option>
                                    <option value='2'>Managua</option>
                                    <option value='3'>Chontales</option>
                                    <option value='4'>Carazo</option>
                                </select>
                                <select multiple='multiple' name='municipios' id='id_municipios'>
                                    <option value='1'>Jinotega</option>
                                    <option value='2'>Managua</option>
                                    <option value='3'>Juigalpaa</option>
                                </select> -->
                                <fieldset>
                                    <input type='checkbox' name='departamento' id='id_chk_managua' value='1' onclick="agregarTablaMunicipio(this)">Managua</input>
                                    <input type='checkbox' name='departamento' id='id_chk_jinotega' value='2' onclick="agregarTablaMunicipio(this)">Jinotega</input>
                                    <input type='checkbox' name='departamento' id='id_chk_matagalpa' value='3' onclick="agregarTablaMunicipio(this)">Carazo</input>
                                </fieldset>
                                <div id="tablas_departamentos"></div>
							</form>
                   </div>
 {% endblock %}
