{%extends "base.html"%}
{%block extra_js%}
<script type="text/javascript">
	$(function() {
		$("#id_fecha_inicial").datepicker({ dateFormat: 'dd/mm/yy', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],changeYear: true});
		$("#id_fecha_final").datepicker({ dateFormat: 'dd/mm/yy', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],changeYear: true});
	});
</script>
{%endblock%}  
{%block contenido%}
 <div id="titulo">
                   Lista de proyectos
                   <a href="/mapeo/formulario"><div id="accion_titulo" class="der">Nuevo Proyecto</div></a>
 </div>


                   <div id="contenido_interno">
{%for proyecto in proyectos%}
	<div class="detalle_proyecto">
		<a href="/proyecto/{{proyecto.id}}">{{proyecto.nombre}}</a>
        <div class="acciones_detalle der"><a href="/proyectos/editar/{{proyecto.id}}">Editar</a> | <a href="/proyectos/eliminar/{{proyecto.id}}/">Borrar</a></div>
	</div>
{%endfor%}
                   </div>
 {% endblock %}
