{%extends "base.html"%}
{%block extra_js%}
<script type="text/javascript">
	$(function() {
		$("#id_fecha_inicial").datepicker({ dateFormat: 'dd/mm/yy', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],changeYear: true});
		$("#id_fecha_final").datepicker({ dateFormat: 'dd/mm/yy', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],changeYear: true});
	});
</script>
{%endblock%}  
{%block contenido%}
 <div id="titulo">
                   Lista de Donantes
                   <a href="#"><div id="accion_titulo" class="der">Nuevo Donante</div></a>
 </div>


                   <div id="contenido_interno">
{%for donante in donantes%}
	<div class="detalle_proyecto">
		<a href="/donante/{{donante.id}}">{{donante.nombre}}</a>
		<div class="acciones_detalle der"><a href="#">Editar</a> | <a href="#">Borrar</a></div>
	</div>
{%endfor%}
                   </div>
 {% endblock %}
