{%extends "base.html"%}
{%block extra_js%}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.simplemodal-1.3.min.js"></script>
<link type="text/css" href="{{MEDIA_URL}}css/simple-modal.css" rel="stylesheet"/>
<script type="text/javascript">
$(document).ready(function() {

    cargar_contrapartes();
    cargar_donantes();
    $("#nueva_contraparte").click(function(){
        $("#modal_content").attr({'src':'/proyecto/{{proyecto.id}}/contrapartes/'});
        $("#modal_content").modal();
        cargar_contrapartes();
    });
    $("#nuevo_cooperante").click(function(){
        $("#modal_content").attr({'src':'/proyecto/{{proyecto.id}}/donantes/'});
        $("#modal_content").modal();
        cargar_donantes();
    });
    $("#nuevo_departamento").click(function(){
        $("#modal_content").attr({'src':'/proyecto/{{proyecto.id}}/departamento/'});
        $("#modal_content").modal();
        //accion pa refrescar la shit.
    });
    $("#nuevo_municipio").click(function(){
        $("#modal_content").attr({'src':'/proyecto/{{proyecto.id}}/departamento/municipio'});
        $("#modal_content").modal();
        //accion pa refrescar la shit.
    });
});
function cargar_contrapartes(){
    $("#tabla_contrapartes").find("tr:gt(0)").remove();
    $.getJSON('/ajax/lista/contrapartes/{{proyecto.id}}/', 
            function(data) {
                $.each(data.lista, function(i,item){
                    $('<tr><td>' + item.contraparte + 
                        '</td><td>' + item.monto + 
                        '</td></tr>').appendTo("#tabla_contrapartes");
                });
                $('<tr><td>Total Aporte Externo</td><td>' + 
                    data.monto_total + '</td></tr>').appendTo("#tabla_contrapartes");
    });
}
function cargar_donantes(){
    $("#tabla_donantes").find("tr:gt(0)").remove();
    $.getJSON('/ajax/lista/contrapartes/{{proyecto.id}}/', 
            function(data) {
                $.each(data.lista, function(i,item){
                    $('<tr><td>' + item.donante+ 
                        '</td><td>' + item.monto + 
                        '</td></tr>').appendTo("#tabla_donantes");
                });
                $('<tr><td>Total Aporte Externo</td><td>' + 
                    data.monto_total + '</td></tr>').appendTo("#tabla_donantes");
    });
}
</script>
{%endblock%}
{%block contenido%}
 <div id="titulo">
                   Proyecto
 </div>
                   <div id="contenido_interno">
                        <div class="seccion">
                            <div class="titulo_seccion izq">Información General</div>
                            <div class="accion_seccion accion_seccion_editar der">Editar</div>
                        </div>
                        <br style="clear:both">
                        <div class="columna_interna_285 izq">
                            {%if proyecto.logo%}
                            <img src="{{MEDIA_URL}}/{{proyecto.logo}}">
                            {%endif%}
                            <div class="subtitulo_seccion">Nombre del Proyecto</div>
                                <b>{{proyecto.nombre}}</b>
                            <br><br>
                            <div class="subtitulo_seccion">Monto</div>
                                <b>Aporte Externo: </b><br>
                                <b>Aporte Interno: </b><br>
                                <b>Monto Total: </b><br>
                            <br>
                            <div class="subtitulo_seccion">Estado de avance</div>
                                <b>{{proyecto.avance}}</b>
                            <br><br>
                            <div class="subtitulo_seccion">Finalidad</div>
                                <b>{{proyecto.tipo}}</b>
                            <br><br>
                            <div class="subtitulo_seccion">Periodo</div>
                                <b>{{proyecto.fecha_inicial}} - {{proyecto.fecha_final}}</b>
                            <br><br>
                            {%if proyecto.website%}
                            <div class="subtitulo_seccion">Sitio Web</div>
                                <b>{{proyecto.website}}</b>
                            <br><br>
                            {%endif%}
                        </div>
                        <div class="columna_interna_460 der">
                            <div class="subtitulo_seccion">Descripción</div>
                                {{proyecto.descripcion}}
                            <br><br>
                            <div class="subtitulo_seccion">Galeria de fotos</div>
                            <br><br>
                        </div>
                        <br style="clear:both">
                        <div class="seccion">
                            <div class="titulo_seccion izq">Cobertura Geografica</div>
                            <div class="accion_seccion der" id="nuevo_departamento">Agregar</div>
                        </div>
                            <table>
                                <tr>
                                    <td>Departamentos y municipios</td>
                                    <td>Inversion</td>
                                    <td>Accion</td>
                                </tr>
                                <!--Aqui hay que iterar el departamento -->
                                <tr>
                                    <td>Esteli</td>
                                    <td> Total : 1000</td>
                                    <td></td>
                                </tr>
                                       <!--Iteracion interna de municipio -->
                                               <tr>
                                                   <td>Tola</td>
                                                   <td>1000</td>
                                                   <td><a href="#">Eliminar</a></td>
                                               </tr>
                                               <tr>
                                                   <td>Condega</td>
                                                   <td>2000</td>
                                                   <td><a href="#">Eliminar</a></td>
                                               </tr>
                                        <!--Se termina iteracion de municipio -->
                                <!--Se termina iteracion de departamento -->
                                <tr>
                                    <td>Total del proyecto</td>
                                    <td>3000</td>
                                    <td></td>
                                </tr>
                            </table>
                        <div class="columna_interna_378 izq">
                            <div class="seccion">
                                <div class="titulo_seccion izq">Cooperantes</div>
                                <div class="accion_seccion der" id="nuevo_cooperante"><a href="#">Nuevo cooperante</a></div>
                            </div>
                            <table id="tabla_donantes">
                                <tr>
                                    <td>Cooperante</td>
                                    <td>Inversion</td>
                                    <td>Accion</td>
                                </tr>
                            </table>
                        </div>
                        <div class="columna_interna_378 der">
                            <div class="seccion">
                                <div class="titulo_seccion izq">Contrapartes</div>
                                <div class="accion_seccion der" id="nueva_contraparte"><a href="#" id="link_nueva_contraparte">Nueva contraparte</a></div>
                            </div>
                            <table id="tabla_contrapartes">
                                <tr>
                                    <td>Contraparte</td>
                                    <td>Inversion</td>
                                    <td>Accion</td>
                                </tr>
                            </table>
                        </div>
                        <br style="clear:both">

                   </div>

                   <iframe style="display: none;" id="modal_content" src="" 
                       width="600px" 
                       height="280px" 
                       scrolling="no" 
                       frameborder="0">
                   </iframe>
 {% endblock %}
