{%extends "base.html"%}
{%block extra_js%}
{%endblock%}
{%block contenido%}
 <div id="titulo">

                   Proyectos en Municipio: {{municipio.nombre}}
 </div>
                   <div id="contenido_interno">



                        <div class="seccion">
                            <div class="titulo_seccion izq">Lista de proyectos</div>
                        </div>
                                <table class="tabla_proyecto" id="tabla_lugares">
                                <tr>
                                    <th>Cooperantes</th>
                                    <th>Proyectos</th>
                                    <th>Estado</th>
                                    <th>Finalidad</th>
                                    <th>Monto</th>
                                </tr>
                                {%for proyecto in proyectos%}
                                <tr>
                                    <td>
                                        {%for donante in proyecto.donantes%}
                                            {{donante}},
                                        {%endfor%}
                                    </td>
                                    <td><a href="{{proyecto.get_absolute_url}}">{{proyecto.nombre}}</a></td>
                                    <td>{{proyecto.avance}}</td>
                                    <td>
                                        {%for tipo in proyecto.tipos.all%}
                                            {{tipo}},
                                        {%endfor%}
                                    </td>
                                    <td>{{proyecto.monto_total}}</td>
                                </tr>
                                
                                {%endfor%}
                             </table>
<br><br>


                   </div>


 {% endblock %}
