{%extends "base.html"%}
{% load humanize %}
{%block extra_js%}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.simplemodal-1.3.min.js"></script>
<link type="text/css" href="{{MEDIA_URL}}css/simple-modal.css" rel="stylesheet"/>
<script type="text/javascript">
$(document).ready(function() {
    cargar_contrapartes();
    cargar_donantes();
    cargar_lugares();
    $("#nueva_contraparte").click(function(){
        $("#modal_content").attr({'src':'/proyecto/{{proyecto.id}}/contrapartes/'});
        $("#modal_content").modal({overlayClose:true});
        cargar_contrapartes();
    });
    $("#nuevo_cooperante").click(function(){
        $("#modal_content").attr({'src':'/proyecto/{{proyecto.id}}/donantes/'});
        $("#modal_content").modal();
        cargar_donantes();
    });
    $("#nuevo_departamento").click(function(){
        $("#modal_content").attr({'src':'/proyecto/{{proyecto.id}}/departamento/'});
        $("#modal_content").modal();
        cargar_lugares();
    });
});

function agregarMunicipio(id_dept){
    var url = '/proyecto/{{proyecto.id}}/departamento/' + 
        id_dept + '/municipio';
    $("#modal_content").attr({'src': url});
    $("#modal_content").modal();
    cargar_lugares();
}
    
function cargar_contrapartes(){
    $("#tabla_contrapartes").find("tr:gt(0)").remove();
    $.getJSON('/ajax/lista/contrapartes/{{proyecto.id}}/', 
            function(data) {
                $.each(data.lista, function(i,item){
                    $('<tr><td>' + item.contraparte + 
                        '</td><td>' + item.monto + 
                        '</td></tr>').appendTo("#tabla_contrapartes");
                });
                $('<tr><td><b>Total Aporte Externo</b></td><td><b>' + 
                    data.monto_total + '</b></td></tr>').appendTo("#tabla_contrapartes");
    });
}
function cargar_donantes(){
    $("#tabla_donantes").find("tr:gt(0)").remove();
    $.getJSON('/ajax/lista/donantes/{{proyecto.id}}/', 
            function(data) {
                $.each(data.lista, function(i,item){
                    $('<tr><td>' + item.donante+ 
                        '</td><td>' + item.monto + 
                        '</td></tr>').appendTo("#tabla_donantes");
                });
                $('<tr><td><b>Total Aporte Externo</b></td><td><b>' + 
                    data.monto_total + '</b></td></tr>').appendTo("#tabla_donantes");
    });
}

function cargar_lugares(){
    $("#tabla_lugares").find("tr:gt(0)").remove();
    $.getJSON('/ajax/lista/lugares/{{proyecto.id}}/',
            function(data) {
                var tabla;
                $.each(data.lista, function(i, item){
                     tabla += "<tr><td><b>" + item.departamento +
                     "</b></td><td><b>" + item.monto_total + 
                     "</b></td><td><a href='#' id='nuevo_municipio' onClick='agregarMunicipio(" + 
                     item.id_departamento + ")'>Agregar Municipio</a></td></tr>";

                     $.each(item.municipios, function(i, subitem){
                         tabla += "<tr><td>" + subitem.municipio + 
                         "</td><td>" + subitem.monto + 
                         "</td></tr>";
                         });
                    });
                tabla += "<tr><td><b>Total del proyecto</b></td><td><b>" +
                    data.monto_total_proyecto + "</b></td><td></td></tr>";
                $(tabla).appendTo("#tabla_lugares");
                
        });
}
</script>
{%endblock%}
{%block contenido%}
 <div id="titulo">
                   Proyecto
 </div>
                   <div id="contenido_interno">
                        <div class="seccion">
                            <div class="titulo_seccion izq">Información General</div>
                            <a href="/proyectos/editar/{{proyecto.id}}"<div class="accion_seccion accion_seccion_editar der">Editar</div></a>
                        </div>
                        <br style="clear:both">
                        <div class="columna_interna_285 izq">
                            {%if proyecto.logo%}
                            <img src="{{MEDIA_URL}}/{{proyecto.logo}}">
                            {%endif%}
                            <div class="subtitulo_seccion">Nombre del Proyecto</div>
                                <b>{{proyecto.nombre}}</b>
                            <br><br>
                            <div class="subtitulo_seccion">Monto</div>
                                <b>Aporte Externo:</b> ${{monto_externo|intcomma}}<br>
                                <b>Aporte Nacional:</b> ${{monto_nacional|intcomma}}<br>
                                <b>Monto Total: </b>${{monto_total_proyecto|intcomma}}<br>
                            <br>
                            <div class="subtitulo_seccion">Estado de avance</div>
                                <b>{{proyecto.avance}}</b>
                            <br><br>
                            <div class="subtitulo_seccion">Finalidad</div>
                                <b>{{proyecto.tipo}}</b>
                            <br><br>
                            <div class="subtitulo_seccion">Periodo</div>
                                <b>{{proyecto.fecha_inicial}} - {{proyecto.fecha_final}}</b>
                            <br><br>
                            {%if proyecto.website%}
                            <div class="subtitulo_seccion">Sitio Web</div>
                                <b>{{proyecto.website}}</b>
                            <br><br>
                            {%endif%}
                        </div>
                        <div class="columna_interna_460 der">
                            <div class="subtitulo_seccion">Descripción</div>
                                {{proyecto.descripcion}}
                            <br><br>
                            <div class="subtitulo_seccion">Galeria de fotos</div>
                            <br><br>
                        </div>
                        <br style="clear:both">
                        <div class="seccion">
                            <div class="titulo_seccion izq">Cobertura Geografica</div>
                            <div class="accion_seccion der" id="nuevo_departamento">Agregar</div>
                        </div>
                            <table class="tabla_proyecto" id="tabla_lugares">
                                <tr>
                                    <th>Departamentos y municipios</th>
                                    <th>Inversion</th>
                                    <th>Accion</th>
                                </tr>
                             </table>
                        <div class="columna_interna_378 izq">
                            <div class="seccion">
                                <div class="titulo_seccion izq">Cooperantes</div>
                                <div class="accion_seccion der" id="nuevo_cooperante"><a href="#">Nuevo cooperante</a></div>
                            </div>
                            <table id="tabla_donantes" class="tabla_proyecto">
                                <tr>
                                    <th>Cooperante</th>
                                    <th>Inversion</th>
                                    <th>Accion</th>
                                </tr>
                            </table>
                        </div>
                        <div class="columna_interna_378 der">
                            <div class="seccion">
                                <div class="titulo_seccion izq">Contrapartes</div>
                                <div class="accion_seccion der" id="nueva_contraparte"><a href="#" id="link_nueva_contraparte">Nueva contraparte</a></div>
                            </div>
                            <table id="tabla_contrapartes" class="tabla_proyecto">
                                <tr class="header_tabla">
                                    <th>Contraparte</th>
                                    <th>Inversion</th>
                                    <th>Accion</th>
                                </tr>
                            </table>
                        </div>
                        <br style="clear:both">

                   </div>

                   <iframe style="display: none;" id="modal_content" src="" 
                       width="600px" 
                       height="400px" 
                       scrolling="no" 
                       frameborder="0">
                   </iframe>
 {% endblock %}
