{%extends "base.html"%}
{%block extra_js%}
<link rel="stylesheet" href="{{MEDIA_URL}}css/map.css" type="text/css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/OpenLayers.js"></script>
<script type="text/javascript">
        var map, layer, popup; 
        var markers, feature;
        AutoSizeFramedCloud = OpenLayers.Class(OpenLayers.Popup.FramedCloud,
                {'autoSize': true, 'closeOnMove': true});

        function init(){
            map = new OpenLayers.Map('map');
            layer = new OpenLayers.Layer.WMS( "OpenLayers WMS",
                "http://labs.metacarta.com/wms/vmap0", {layers: 'basic'} );

            map.addLayer(layer);
            feature = new OpenLayers.Feature(layer, 
                                             new OpenLayers.LonLat(-86.266, 12.15));
            feature.popupClass = AutoSizeFramedCloud;

            markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);

            var size = new OpenLayers.Size(10,17);
            var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
            var icon = new OpenLayers.Icon('{{MEDIA_URL}}js/img/marker-green.png',size,offset);
            
            //Añadimos los marcadores de proyecto.
            var url_json = '/ajax/ubicacion/donante/{{donante.id}}/' 
            $.getJSON(url_json, function(data){
                    $.each(data, function(i, item){
                        var lonlat = new OpenLayers.LonLat(item[0], item[1])
                        var marker = new OpenLayers.Marker(lonlat, icon.clone())
                        marker.events.register("mousedown", 
                            {'marker': marker, 'text': item[2]},
                            marker_click);
                        markers.addMarker(marker);
                        });
                    });

            map.zoomToMaxExtent();
            map.setCenter(new OpenLayers.LonLat(-86.266, 12.15), 6);
        }
function marker_click(evt){
    if (popup==null){
        popup = new AutoSizeFramedCloud("popup",this.marker.lonlat, null,
                this.text, null, true, onPopupMouseDown); 
        map.addPopup(popup);
    }else {
        popup.toggle();
    }
    OpenLayers.Event.stop(evt)
}
function onPopupMouseDown(evt) {
    markers.map.removePopup(popup);
    popup.destroy();
    popup = null;
    OpenLayers.Event.stop(evt);
}

function destroy() {
 popup.destroy();
}
    $(document).ready(function() {
            init();
            });
</script>
{%endblock%}
{%block contenido%}
 <div id="titulo">
                   Perfil de cooperante
 </div>
                   <div id="contenido_interno">
                    {%if donante.logo%}
                    <img src="{{MEDIA_URL}}/{{donante.logo}}"class="der">
                    {%endif%}
                    <div class="subtitulo_seccion">Nombre del Cooperante</div>
                      <b>{{donante.nombre}}</b>
                      <br>

                    <div class="subtitulo_seccion">Descripción</div>
                      {{donante.descripcion|safe}}
                      <br>
                    {%if donante.website%}
                    <div class="subtitulo_seccion">Sitio Web</div>
                      {{donante.website}}
                      <br>
                      {%endif%}
                      <br>

                        <div class="seccion">
                            <div class="titulo_seccion izq">Lista de proyectos</div>
                        </div>
                                <table class="tabla_proyecto" id="tabla_lugares">
                                <tr>
                                    <th>Proyectos</th>
                                    <th>Estado</th>
                                    <th>Finalidad</th>
                                </tr>
                                {%for proyecto in proyectos%}
                                <tr>
                                    <td><a href="/proyecto/{{proyecto.id}}">{{proyecto.nombre}}</a></td>
                                    <td>{{proyecto.avance}}</td>
                                    <td>{{proyecto.tipo}}</td>
                                </tr>

                                {%endfor%}
                             </table>
                             <br/><br/>
                             <div id="map" class="smallmap"></div>
                   </div>


 {% endblock %}
