{%extends "base.html"%}
{%block contenido%}
 <div id="titulo">
                   Proyecto
 </div>
                   <div id="contenido_interno">
                        <div class="seccion">
                            <div class="titulo_seccion izq">Información General</div>
                            <div class="accion_seccion der">Editar</div>
                        </div>
                        <div class="columna_interna_285"></div>
                        <div class="columna_interna_480"></div>
                        <div class="seccion">
                            <div class="titulo_seccion izq">Cobertura Geografica</div>
                            <div class="accion_seccion der">Agregar</div>
                        </div>
                        <div class="columna_interna_378">
                            <div class="seccion">
                                <div class="titulo_seccion izq">Cooperantes</div>
                                <div class="accion_seccion der">Agregar cooperante</div>
                            </div>
                        </div>
                        <div class="columna_interna_378">
                            <div class="seccion">
                                <div class="titulo_seccion izq">Contrapartes</div>
                                <div class="accion_seccion der">Agregar contrapartes</div>
                            </div>
                        </div>
{{proyecto.nombre}}
<br>
{{proyecto.descripcion}}


                   </div>
 {% endblock %}
