/* --------------Comienza Generales-------------- */

body {
  background:#eeeae3;
  background-image: url(../imagen/fondo.png);
  background-repeat: repeat-x;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size:14px;
  padding:0;
  margin:0;
}

p {
  text-align:justify;
}

a img{
  border-style:none;
}

a {
  text-decoration:none;
}

h2{
  font-size:18px;
  color:#4d4d4d;
  font-weight:bold;
}

.izq{
  float:left;
}

.der{
  float:right;
}

.centro{
  margin: 0pt auto;
  padding:0pt;
 
}
.separador{
  clear:both;
}


/* --------------Termina Generales-------------- */

/* --------------Contenedor que centra todo el sitio-------------- */

/* --------------Comienza Header-------------- */

#header{
  width:100%;
  height:109px;
  background-image: url(../imagen/header.jpg);
  background-repeat: repeat-x;

}

#header_contenedor{
  width:960px;
  height:109px;
  margin:0pt auto;
  padding:0pt;
}

#logo{
  width:750px;
  font-size:22px;
  font-weight:bold;
  color:#004967;
  text-shadow: 0 0 1px #4e4e4e;
  padding-top:20px;
  height:55px;
}

#imagen_header{
  width:128px;
  height:75px;
  background-image: url(../imagen/gota.jpg);
  background-repeat: no-repeat;
}
#contenedor{
  width:960px;
  margin-top:15px;
}

#login{
  margin-top:5px;
  color: #FFF;
}

#login a, #login a:visited{
  color:#fff;
}

#login a:hover{
  color:#E3E3E3;
}

#user{
  border-width:0px;
    border-radius:4px;
  -moz-border-radius:4px; /* Firefox */
  -webkit-border-radius:4px; /* Safari y Chrome */ 
  height:17px;
  background:#fff;
}

#password{
  border-width:0px;
    border-radius:4px;
  -moz-border-radius:4px; /* Firefox */
  -webkit-border-radius:4px; /* Safari y Chrome */ 
   height:17px;
   background:#fff;
}

#button{
  background:#35332d;
  border-color:#daba71;
  border-width:1px;
  border-style:solid;
  height:22px;
  color:#fff;
  border-radius:4px;
  -moz-border-radius:4px; /* Firefox */
  -webkit-border-radius:4px; /* Safari y Chrome */ 
  margin-left:7px;


}
#menu{
  margin-left:10px;
  color:#fff;
  width:300px;
  text-align:left;
}

#menu ul {  
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	}

#menu li {
	margin-left:4px;
	padding-left:4px;
	padding-top:2px;
	height:15px;
	float:left;
	text-align:center;
	width:70px;
	background-image:url(../imagen/separador.png);
	background-repeat: no-repeat;
	background-position:left;
	}




/* --------------Termina Header-------------- */





/* --------------Comienza contenido--------------- */
#contenido{
  width:960px;
  !width:960px;
  /*min-height:900px;*/
  
  color:#5d5d5d;
 }

.colum_izq{
  width:140px;
  margin-rigth:10px;
  background:#d9cfbf;
  border-radius:6px;
  -moz-border-radius:6px; /* Firefox */
  -webkit-border-radius:6px; /* Safari y Chrome */ 
  padding:5px;
}
.enlace_sidebar{
  color:#000;
  font-weight:bold;
  font-size:14px;
  height:23px;
  padding-top:7px;
  padding-left:30px;
}

.icono_ayuda{
  background-image:url(../imagen/ayuda.png);
  background-repeat: no-repeat;
  background-position:left;
}

.icono_filtro{
  background-image:url(../imagen/filtroconsulta.png);
  background-repeat: no-repeat;
  background-position:left;
}

#colum_der{
  width:780px;
  background:#fff;
  border-color:#88969a;
  border-width:1px;
  border-style:solid;
  border-radius:6px;
  padding:10px;
  -moz-border-radius:6px; /* Firefox */
  -webkit-border-radius:6px; /* Safari y Chrome */ 
 /* padding-left:10px;*/
   /*background:#ccc;*/
}

#colum_der img{
  margin-bottom:0px;
}
#titulo{
   background:#deeef4;
   border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
  color:#003951;
  font-size:18px;
  font-weight:bold;
  padding:7px;
}

#accion_titulo{
  font-size:13px;
  width:130px;

  height:18px;
  color:#585858;
  text-align:right;
  padding-top:2px;
  padding-right:5px;
  background-image:url(../imagen/mas.png);
  background-repeat: no-repeat;
  background-position:left;
}


#accion_titulo:hover{
  color:#3C8095;
  text-shadow: 0px 0 4px #fff;
  text-decoration:none;
}

#accion_titulo a{
  text-decoration:none;
}

#menu_admin{
  background-image:url(../imagen/admin_menu.png);
  background-repeat: no-repeat;
   border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
  color:#333;
  font-size:12px;
  font-weight:bold;
  padding-left:5px;
  padding-right:5px;
  margin-bottom:5px;
  height:33px;
}

#usuario_logueado{
  margin-top:7px;
  width:200px;
  float:left;
}
#acciones{
  margin-top:2px;
    float:right;
}

#acciones a, #acciones a:visited{
  text-decoration:none;
  color:#aaa;

  border-left-width:1px;
  border-left-style:solid;
  border-left-color:#e2e2e2;
  height:22px;
  float:right;
  padding-top:7px;
  padding-left:8px;
  padding-right:8px;
}

#acciones a:hover{
  background:#eaf5f8;
  color:#797979;
}

#contenido_interno{
  margin-top:5px;
  background:#fbfbfb;
  border-color:#eeeae3;
  border-width:1px;
  border-style:solid;
  border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
  padding:7px;
  font-size:12px;
}

#filtros_principales{
  width:345px;
  height:380px;
}

.boton_filtro{
  width:320px;
  height:70px;
  color:#000;
  font-size:14px;
  padding:5px;
  border-color:#99bbdf;
  border-width:1px;
  border-style:solid;
  border-radius:6px;
  -moz-border-radius:6px; /* Firefox */
  -webkit-border-radius:6px; /* Safari y Chrome */ 
  margin-bottom:10px;
}

.boton_filtro img{
  float:left;
  margin:5px;
  margin-right:20px;
}

.fondo_boton{
  background-image:url(../imagen/fondoboton.png);
  background-repeat: repeat-x;
}

#filtros_principales a, #filtros_principales a:visited{
  text-decoration:none;
  color:#000;
  margin-left:0px;
  padding-left:0px;
  padding-right:0px;
  float:none;
  border:0;
}

#filtros_principales a:hover .fondo_boton{
  background-image:url(../imagen/fondoboton2.png);
  background-repeat: repeat-x;
  float:none;
}

#foto_menu{
    background-image:url(../imagen/fotoindex.png);
  background-repeat: no-repeat;
  width:410px;
  height:350px;
  border-width:4px;
  border-style:solid;
  border-color:#D4E6E7;
}

#foto_index_contenido{
width:410px;
height:180px;
background:#fff;
margin-top:168px;opacity: 0.5;
  border-top-width:2px;
  border-top-style:solid;
  border-top-color:#fff;
}

/* Para Widgets de mapas */

.bloque{
  width:220px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:10px;
  float:right;
}

.titulo_bloque{
  color:#fff;
  font-size:17px;
  background:#7bc16e;
  text-align:center;

}

.contenido_bloque{
  color:#333333;
  background:#fcf0be;
  padding:5px;
  border-radius-bottomleft:5px;
  -moz-border-bottom-left-radius:5px; /* Firefox */
  -webkit-border-bottom-left-radius:5px; /* Safari y Chrome */ 
  border-radius-bottomright:5px;
  -moz-border-bottom-right-radius:5px; /* Firefox */
  -webkit-border-bottom-right-radius:5px; /* Safari y Chrome */ 
  -webkit-box-shadow:#C2C2C2 0px 2px 1px;
  -moz-box-shadow:#C2C2C2  0px 2px 1px;
   box-shadow:#C2C2C2  0px 2px 1px;
}

.contenido_bloque ul{
  list-style-position:outside;
  text-align:left;margin:0px;
  padding:0px;
}

.contenido_bloque li{
  margin-left:17px;
  border-bottom-style:dotted;
  border-bottom-width:1px;
  border-bottom-color:#9D8972;
  padding-bottom:5px;
}

.contenido_bloque a,.contenido_bloque a:visited{
  color:#333;
}
.contenido_bloque a:hover{
  color:#000;
}

/* CSS para el formulario de entrada */

.titulo_form{
  width:100%;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#cccccf;
  color:#1d1d1d;
  font-weight:bold;
  height:20px;
  margin-bottom:8px;
}

.campo{
  margin-top:5px;
  background:#eeeeee;
  width:365px;
  padding-left:10px;
  padding-top:7px;
  padding-bottom:7px;
  border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
}

.campo_ancho{
  margin-top:5px;
  background:#eeeeee;
  width:755px;
  padding-left:10px;
  padding-top:7px;
  padding-bottom:7px;
  border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
}
.label{
  width:70px;
}

.textbox_nombre{
  width:670px;
  border-width:0px;
  background:#fff;
  height:15px;
  font-size:11px;
}

.textbox{
  width:285px;
  border-width:0px;
  background:#fff;
  height:15px;
  font-size:11px;
}

.combobox{
  width:285px;
  border-width:0px;
  background:#fff;
  height:15px;
  font-size:11px;
}

.textarea{
  width:670px;
  border-width:0px;
  background:#fff;
  height:120px;
  font-size:11px;
}

.campo ul{
  border:medium none;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  text-align:left;
}

.campo li{
  float:left;
}

.campo_ancho ul{
  border:medium none;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  text-align:left;
}

.campo_ancho li{
  float:left;
}


.detalle_proyecto{
  margin-top:5px;
  background:#fff;
  width:755px;
  padding-left:10px;
  padding-top:7px;
  padding-bottom:7px;
  border-color:#EEEAE3;
  border-width:1px;
  border-style:solid;
  border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
  -webkit-box-shadow:#949494 0px 1px 2px;
  -moz-box-shadow:#949494 0px 1px 2px;
   box-shadow:#949494 0px 1px 2px;
}

#fotos img{
  border-width:4px;
  border-color:#E5E5E5;
  border-style:solid;
  margin-right:5px;
  margin-bottom:5px;
}
.subtitulo_seccion a,.subtitulo_seccion a:visited{
color:#3D77CB;
font-weight:bold;
font-size:12px;
}

.detalle_proyecto a, .detalle_proyecto a:visited{
  color:#6A6053;
}

.detalle_proyecto a:hover{
  color:#4C4338;
}

.acciones_detalle {
  margin-right:5px;
  margin-top:3px;
}

.acciones_detalle a, .acciones_detalle a:visited {
  color:#6DA9C0;
  font-weight:bold;
}

.acciones_detalle a:hover {
  color:#528497;
  font-weight:bold;
}


/* --------------para dashboard de proyecto-------------- */

.seccion{
  background-image:url(../imagen/fondo_seccion.png);
  background-repeat: repeat-x;
  width:100%;
  height:31px;
  border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
  margin-bottom:3px;
}

.seccion .titulo_seccion{
  font-size:16px;
  font-weight:bold;
  color:#fff;
  margin-top:4px;
  margin-left:4px;
  text-shadow: 1px 0 5px #003366;
}

.seccion .accion_seccion{
  font-size:13px;
  color:#fff;
  font-weight:bold;
  margin-top:6px;
  margin-right:4px;
  background-image:url(../imagen/mas_seccion.png);
  background-repeat: no-repeat;
  background-position:left middle;
  padding-left:20px;
}

.seccion .accion_seccion_editar{
  background-image:url(../imagen/editar_seccion.png);
  background-repeat: no-repeat;
  background-position:left center;
}

.accion_seccion a, accion_seccion a:visited{
color:#fff;
}

.columna_interna_285{
  width:285px;
}

.columna_interna_460 {
  width:460px;
}
.columna_interna_378{
  width:378px;
}

.subtitulo_seccion{
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#cacaca;
  margin-top:3px;
  margin-bottom:3px;
  padding-bottom:2px;
  padding-left:15px;
  font-weight:bold;
  color:#3f8ace;
  font-size:14px;  
  background-image:url(../imagen/bullet_subseccion.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.tabla_proyecto{
  border:0px;
  font-size:12px;
  width:100%;
  border-spacing: 0px;

}

.tabla_proyecto th{
  background:#deeef4;
  height:35px;
  border-bottom-width:2px;
  border-bottom-style:solid;
  border-bottom-color:#b7dae7;
  text-align:left;
  padding-left:5px;
}

.tabla_proyecto td{
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#b7dae7;
  height:25px;
}

.tabla_proyecto a{
color:#3D77CB;
font-weight:bold;
}
.header_tabla{
  background:#deeef4;
}

.boton_donante{
  width:163px;
  height:80px;
  padding:10px;
  border-width:1px;
  border-style:solid;
  border-color:#b7dae7;
  background:#fff;
  border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
  -webkit-box-shadow:#949494 0px 1px 2px;
  -moz-box-shadow:#949494 0px 1px 2px;
  box-shadow:#949494 0px 1px 2px;
  float:left;
  margin-right:5px;
  margin-bottom:5px;
  text-align:center;
}

.boton_donante_hover{
  width:163px;
  height:80px;
  padding:10px;
  border-width:1px;
  border-style:solid;
  border-color:#33B0D3;
  background:#fff;
  border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
  -webkit-box-shadow:#b7dae7 0px 1px 2px;
  -moz-box-shadow:#b7dae7 0px 1px 2px;
  box-shadow:#b7dae7 0px 1px 2px;
  float:left;
  margin-right:5px;
  margin-bottom:5px;
  text-align:center;
}

/* --------------Termina contenido-------------- */

/* --------------Comienza footer-------------- */

#footer{
  margin-top:15px;
  width:100%;
  height:80px;
  background-image: url(../imagen/footer.png);
  background-repeat: repeat-x;
  
}

#footer_contenedor{
  height:60px;
  width:960px;
  padding-top:10px;
}
#logo_footer{
  width:60px;
  height:60px;
  float:left;
  background-image: url(../imagen/logofooter.jpg);
  background-repeat: no-repeat;
}
#creditos{
color:#aaccee;
font-size:14px;
width:160px;
height:60px;
padding-top:10px;
margin-left:10px;  float:left;
}

#simas a{
  color:#3d3d3d;
  text-decoration:underline;
  font-weight:bold;
}

/* Termina footer */



